
# Application
NODE_ENV=development
SERVICE_NAME=UserProfileService
PORT=3007

# Database
# 'postgres' = container_name/service name in docker-compose
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/healthbridge_profiles

# Redis
# 'redis' = service name in docker-compose
# 6379 = internal container port (NOT 6378, that's only for your local machine)
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

# RabbitMQ
# 'rabbitmq' = service name in docker-compose
# 5672 = internal container port (NOT 5673, that's only for your local machine)
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_EXCHANGE=health-bridge-events

# JWT
JWT_SECRET=your_auth_secret_key
AUTH_JWT_SECRET=your_secret_key

# Frontend
CLIENT_URL=your frontend_url

# Logging
LOG_LEVEL=info